.navbar {
    background-color: #527c7c;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0;
  }
  .navbar_items {
    display: flex;
    list-style: none;
    align-items: center;
    flex-wrap: wrap;
  }
  .navbar_items > li {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
  }
  .navbar_items > li > a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  .navbar_items > li:hover {
    background-color: #547474;
    color: whitesmoke;
    border-radius: 10px;
  }
  .navbar > img {
    height: 50px;
    width: 50px;
  }
